<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> BookHive | Book Notes App </title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> 
        <link rel="stylesheet" href="/styles/style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <script>
            // Apply the theme as soon as the script runs
            (function() {
                let storedTheme = localStorage.getItem("selectedTheme") || "light";
                applyTheme(storedTheme);
            })();

            //Function to apply theme
            function applyTheme (themeMode) {
                const toggleButton = document.getElementById("toggle-button");
                 
                if (themeMode === "dark") {
                    document.documentElement.setAttribute("data-theme", themeMode); // Set theme attribute
                    if (toggleButton) {
                        toggleButton.classList.remove("bx-toggle-left");
                        toggleButton.classList.add("bx-toggle-right");  
                    }          
                } else {
                    if (toggleButton) {
                        document.documentElement.setAttribute("data-theme", themeMode); // Set theme attribute
                        toggleButton.classList.remove("bx-toggle-right");
                        toggleButton.classList.add("bx-toggle-left");
                    }
                }
            }
        </script>
    </head>
    <body>

    

 

    