<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book Notes | Jonathan Afugwobi</title>
        <link rel="stylesheet" href="/styles/style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>

        <div class="main">
            <div class="container">
                <div class="head">
                    <div class="head-texts">
                        <a href="/"><h1> Jonathan Afugwobi </h1></a>
        
                        <h2> Books i've read. </h2>
                    </div>
        
                    <div class="toggle">
                        <p class="themeToggle">Change Theme</p><i class='bx bx-toggle-left' id="toggle-left"></i>
                    </div>
        
                    <button id="back-to-top"><i class='bx bx-up-arrow-alt'></i></button>
                </div>

                <form action="/add" method="POST">
                    <button type="submit" class="add-button" id="add-book">Add New Book</button>
                </form>
            </div>
        </div>

        <script src="/js/main.js"></script>
    </body>
</html>

    